body, .row, .col-xs-12 {
    margin: 0 !important;
    padding: 0 !important;
}

#mapid {
    position: relative;
    width: 100%;
    top: 0px;
    height: 100vh;
}

#mapid {
    position: absolute;
    z-index: -1;
}

#firstText {
    position: absolute;
    margin: 70px;
    width: 80wh;
    height: 70vh;
    overflow-y: scroll;
    background-color: rgba(192, 192, 192, 0.4);
    padding: 24px;
    display: block;
    color: black;
    font-size: 24px;

}

h0 {
    font-family: arial;
    font-size: 1em;
    font-weight: bold;
}

h1 {
    font-family: arial;
    font-weight: normal;
    font-size: 0.7em;
}

#infobar {
    background-color: #333;
    overflow: hidden;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 3
}