.jcarousel-wrapper {
    margin: 20px 50px;
    position: relative;
    background-color: rgba(192, 192, 192, 0.4);
    border: 5px solid #fff;
    /*
    (6 * width: 95px) + (5 * margin-right: 3px) + (2 * border: 5px) = 595px
    */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
    width: 595px;
}

@media screen and (max-width: 499px) {
    .jcarousel-wrapper {
        width: 203px;
    }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
    .jcarousel-wrapper {
        width: 399px;
    }
}

/** Carousel **/

.jcarousel {
    position: relative;
    overflow: hidden;
    white-space: nowrap;
    max-height: 170px;
}

#instafeed {
    width: 10000em;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
}

.jcarousel a {
    float: left;
    width: 95px;
    height: 95px;
    margin-right: 3px;
}

.jcarousel .loading {
    text-align: center;
    line-height: 90px; /* Fake vertical aligning */
}

/** Carousel Controls **/

.jcarousel-control-prev,
.jcarousel-control-next {
    position: absolute;
    top: 35px;
    width: 30px;
    height: 30px;
    text-align: center;
    background: #4E443C;
    color: #fff !important;
    text-decoration: none;
    text-shadow: 0 0 1px #000;
    font: 20px/31px Arial, sans-serif;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    -webkit-box-shadow: 0 0 2px #999;
    -moz-box-shadow: 0 0 2px #999;
    box-shadow: 0 0 2px #999;
}

.jcarousel-control-prev {
    left: -50px;
}

.jcarousel-control-next {
    right: -50px;
}

.jcarousel-control-prev:hover span,
.jcarousel-control-next:hover span {
    display: block;
}

.jcarousel-control-prev.inactive,
.jcarousel-control-next.inactive {
    opacity: 0.3;
    cursor: default;
}

.jcarousel-wrapper a:focus {
    outline: none;
}